body {background-color: #313133;
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
    background-image: url(img/bg.png);
}
header img{
    height: 100px;
    width: 100px;
}
.navbar{
    text-align: center;
    
}
.navbar a{
    color: #ffffff;
    padding: 40px;
}
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #141414;
    color: white;
    text-align: center;
    font-style: italic;
  }
  .myimg{
    height:200px;
    border-radius: 50%;
  }
  .info{
    text-align: center;
  }
