body {
  padding-left: 100px;
  padding-right: 100px;
}
.navbar a {
  padding: 40px;
}
.myimg {
  height: 200px;
  border-radius: 50%;
}
section {
  padding: 50px;
  font-size: 25px;
}
.contacts img {
  width: 100px;
  height: 100px;
}
.projects img {
  width: 200px;
  height: 200px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  padding: 30px;
  left: 0;
  top: 0;
  width: 100%;
}
.about {
  padding-top: 100px;
}.myproj{
  padding-top: 100px;
}
.projects {
  padding: 50px;
  display: flex;
  justify-content: center;
  height: 400px;
  align-content: space-between;
}
.proj1{
  align-self: start;
}
.proj2{
  align-self: end;
}
.proj3{
  align-self: start;
}
.contacts {
  padding-bottom: 100px;
  display: grid;
  row-gap: 50px;
}
.contacts img{
  background-color: azure;
  padding: 10px;
  border-radius: 25%;
  }