body {
  padding-left: 100px;
  padding-right: 100px;
}

.navbar a {
  padding: 40px;
}
.myimg {
  height: 200px;
  border-radius: 50%;
}
section {
  padding: 100px;
  font-size: 25px;
}
.contacts img{
  width: 100px;
  height: 100px;
}
.projects img{
  width: 200px;
  height: 200px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  padding: 30px;
  left: 0;
  top: 0;
  width: 100%;
}