body {background-color: #7e7d7d;
  color: #191970;
  font-family: Arial, Verdana, sans-serif;}
.footer {
  position: fixed;
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d8bfd8;
  color: white;
  text-align: center;
  font-style: italic;
}
