body {background-color: #313133;
  color: #ffffff;
  font-family:'Courier New', Courier, monospace;
  background-image: url(img/bg.png);
  text-align: center;
}
.footer {
  background-color: #141414;
  color: white;
  text-align: center;
  font-style: italic;
}
.navbar a {
  color: #ffffff;
}
.navbar{
  background-color: #141414;  
}